.subjectDiv {
    width: 353px;
    height: 153px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: end;
    cursor: pointer;
}

.subjectPic {
    position: absolute;
    top: 0;
    right: 41px;
}

.subjectPic1 {
    position: absolute;
    top: 33px;
    right: 0;
}

.innerSubjectDiv {
    width: 100%;
    height: 120px;
    border-radius: 9.178px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 15px 10px;
}

.percentage {
    color: #2C3D68;
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.56px;
}

.subjectName {
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
}

.progressBar {
    width: 320px;
    height: 16px;
    flex-shrink: 0;
}

.outerbar {
    width: 320px;
    height: 16px;
    flex-shrink: 0;
    background: #FFF;
    width: 320px;
    border-radius: 18.357px;
}

.innerBar {
    height: 16px;
    border-radius: 18.357px;
}

.activitiesDiv {
    width: 353px;
    height: 653px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}